
body, h1, p, ul {
  margin: 0;
  padding: 0;
}

.video-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  filter: brightness(60%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  font-family: 'Copperplate';
}

.logo {
  display: inline-block;
  padding: 10px;
  padding-bottom: 0px;
}

.logo img {
  width: 15vw; 
  height: auto;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  float: right;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
  color: #FFF;
  font-size: 1.3vw;
}

nav ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

nav ul li a.active {
  font-weight: bold;
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-family: 'Pacifico','brush script mt','Arial';
  font-style: bold;
  font-size: 5vw;
  margin: 1vw;
}
.btn {
    font-family: 'Copperplate';
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 16px 28px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Green */
  .jedan {
    text-decoration: none;
    border-color: black;
    color: black;
  }
  
  .jedan:hover {
    background-color: black;
    color: white;
  }

  .dva {
    text-decoration: none;
    background-color: black;
    color: white;
    position: fixed;
    left: 2vw;
    bottom: 1vw;
    padding: 6px 14px;
    font-size: 10px;
  }
  
  .dva:hover {
    background-color: black;
    
    color: rgb(84, 84, 84);
  }
  .tri {
    border: none;
    text-decoration: none;
    background-color: navy;
    color: white;
    position: fixed;
    right: 1vw;
    top: 1vw;
    padding: 8px 20px;
    font-size: 12px;
  }
  
  .tri:hover {
    background-color: navy;
    color: rgb(84, 84, 84);
  }
  /*futer*/
  footer {
    font-family: 'Copperplate';
    background: #000;
    color: #fff;
    position: fixed;
    bottom: -200px;
    left: 0;
    width: 100%;
    transition: bottom 0.5s ease-in-out;
  }
  
  .container {
    max-width: 1200px;
    margin: 10 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .logo1 {
    width: auto;
    height: 50px;
    margin-right: 30px;
  }
  
  .logo2{
    width: auto;
    height: 50px;
    margin-right: 30px;
  }
  .logo3 {
    width: auto;
    height: 50px;
    margin-right: 30px;
  }
  
  .contact {
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .contact p {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
  }
  
  .mail-icon {
    width: 35px;
    height: auto;
  }
  
  footer.show {
    bottom: 0;
  }
  
  footer p {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
  }