body{
  position: flex;
  flex-direction: column;
}

*{
    background-color: black;
      color:white;
      font-family: 'Copperplate';
  }


  .remote-control{
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(47, 47, 47);
    width: fit-content;
    padding: 2vw;
    margin-left: 4vw;
  }
  .remote-control p{
    font-size: larger;
    margin: 0;
    padding: 0;
    padding-bottom: 1vw;
  }
  .remote-control a{
    margin: 5px;
    background-color:rgb(47, 47, 47) ;
  }
  #televizor iframe{
    border: 10px solid rgb(71, 71, 71);
    margin: 4vw;
    margin-top: 0;
    align-content: center;

  }
  h1{
    text-align: center;
  }
  /*header*/

  .btn {
    font-family: 'Copperplate';
    padding: 16px 28px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 40px;
  }
  .tri {
    border: none;
    text-decoration: none;
    background-color: navy;
    color: white;
    padding: 8px 20px;
    font-size: 12px;
  }
  
  .tri:hover {
    background-color: navy;
    color: rgb(84, 84, 84);
  }
header {
    color:white;
    font-family: 'copperplate';
    background: transparent;
    z-index: 9999;
    left:0; 
    top:0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo img {
    padding:1vw;
    height:50px;
    align-self: left;
  }
  
  nav ul {

    list-style: none;
    margin: 0;
    padding: 1vw;
    display: flex;
    align-self: right;
  }
  
  nav ul li {
    margin-left: 20px;

  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
  }
  
  nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    bottom: -3px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
/*header end*/
/*futer*/
footer {
    text-align: center;
    font-family: 'Copperplate';
    background: #000;
    color: #fff;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  footer p {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
  }